[submodule "godot"]
	path = godot
	url = https://github.com/Smirk-Software-Company/godot.git
	branch = libgodot-4.3
[submodule "SwiftGodot"]
	path = SwiftGodot
	url = https://github.com/Smirk-Software-Company/SwiftGodot.git
	branch = libgodot-4.3
[submodule "SwiftGodotKit"]
	path = SwiftGodotKit
	url = https://github.com/Smirk-Software-Company/SwiftGodotKit.git
	branch = libgodot-4.3
